<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rk.cubic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectLevelActivity"
            android:label="@string/title_activity_selectlevel" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />

        </activity>
        <activity
            android:name=".PracticeActivity"
            android:label="@string/title_activity_practice" 
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelectLevelActivity" />

            <intent-filter>
                <action android:name="android.intent.action.PRACTICE" />
            </intent-filter>
        </activity>        
        <activity
            android:name=".LearnActivity"
            android:label="@string/title_activity_learn" >
            <intent-filter>
                <action android:name="android.intent.action.LEARN" />
            </intent-filter>
        </activity>
        <service
            android:name=".DictionaryService"
            android:enabled="true" />
    </application>

</manifest>